.contact {
	background-image: url("../../../assets/shared/desktop/bg-pattern-small-circle.svg");
	background-position: left top;
	background-size: 50%;
	background-repeat: repeat-x;
	.row {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	&-btn-wrapper {
		justify-content: center;
		margin-top: 3rem;
	}
	&-text {
		text-align: center;
	}
}

@media (min-width: 576px) {
	.contact {
		border-radius: 1rem;
		background-repeat: no-repeat;
		.row {
			padding-right: 6rem;
			padding-left: 6rem;
		}
		&-btn-wrapper {
			justify-content: flex-end;
		}
		&-text {
			text-align: left;
		}
	}
}
@media (min-width: 768px) {
	.contact {
		background-position: top left;
		background-size: 75%;
		background-repeat: no-repeat;
	}
}
@media (min-width: 992px) {
	.contact {
		background-position: 0 100%;
		background-size: 50%;
		&-text {
			padding-right: 6rem;
		}
	}
}

.notValid {
	background-image: url("../../assets/contact/desktop/icon-error.svg");
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 20px;
	position: relative;
	&::after {
		content: "Can't be empty";
		font-style: italic;
		position: absolute;
		top: 50%;
		right: 50px;
		transform: translateY(-50%);
		color: white;
		font-size: 12px;
	}
}

.Toastify__toast-container--top-center {
	width: 375px;
	max-width: 100%;
}
