.homeBanner {
	height: 750px;
	padding-top: 80px;
	background-image: url("../../../assets/home/desktop/bg-pattern-hero-home.svg"),
		url("../../../assets/home/desktop/image-hero-phone.png");
	background-size: 600px, 460px;
	background-repeat: no-repeat, no-repeat;
	background-position-y: bottom 70px, bottom -300px;
	background-position-x: right -200px, center;
}

// Change background position on bigger screens
@media (min-width: 768px) {
	.homeBanner {
		max-height: 600px;
		background-position-x: right -250px;
		background-size: 900px;
		background-position-y: top 27%;
		padding-left: 95px;
	}
}

@media (min-width: 576px) {
	.homeBanner {
		border-radius: 1rem;
	}
}

// .features {
// 	background-image: url("../../../assets/shared/desktop/bg-pattern-leaf.svg");
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: right;
// 	.card {
// 		background: transparent;
// 	}
// }
