.homeBanner {
	height: 750px;
	padding-top: 80px;
	background-image: url("../../../assets/home/desktop/bg-pattern-hero-home.svg"),
		url("../../../assets/home/desktop/image-hero-phone.png");
	background-size: 600px, 460px;
	background-repeat: no-repeat, no-repeat;
	background-position-y: bottom 70px, bottom -300px;
	background-position-x: right -200px, center;
}

// Change background position on bigger screens
@media (min-width: 768px) {
	.homeBanner {
		max-height: 600px;
		background-position-x: right -250px;
		background-size: 900px;
		background-position-y: top 27%;
		padding-left: 95px;
	}
}

@media (min-width: 576px) {
	.homeBanner {
		border-radius: 1rem;
	}
}

.home {
	> * {
		position: relative;
	}
	&::before {
		content: "";
		position: absolute;
		width: 1006px;
		height: 594px;
		left: 0px;
		top: 475px;
		background: #f1f3f5;
		mix-blend-mode: normal;
		opacity: 0.5;
		border-radius: 297px 297px 297px 0px;
		z-index: 0;
	}
}
