// Use color variables
@use "../abstracts/colors" as color;

.gallery-card {
	min-height: 400px;
	height: 100%;
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 15px;
		letter-spacing: 5px;
		font-weight: 400;
	}
	text-decoration: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: auto;
	&.bg-1 {
		background-image: url("../../../assets/home/desktop/image-web-design-small.jpg");
	}
	&.bg-2 {
		background-image: url("../../../assets/home/desktop/image-app-design.jpg");
	}
	&.bg-3 {
		background-image: url("../../../assets/home/desktop/image-graphic-design.jpg");
	}
	.overlay {
		background-color: rgba(0, 0, 0, 0.5);
		flex: 1;
	}
	&:hover {
		.overlay {
			background-color: color.$primaryTrans;
		}
	}
}

.gallery-card-spacer {
	margin-block: 1.5rem;
}

@media (min-width: 992px) {
	.gallery-card {
		h2 {
			font-size: 40px;
		}
	}
	.features {
		.card-body {
			display: block;
		}
	}
}
@media (min-width: 768px) {
	.gallery-card-split {
		height: 300px;
	}
	.gallery-card-spacer {
		margin-top: 0;
	}
	.gallery-card.bg-1 {
		background-image: url("../../../assets/home/desktop/image-web-design-large.jpg");
	}
	.features {
		.card-body {
			justify-content: center;
			display: flex;
			flex-direction: column;
		}
	}
}

.features {
	.card-img-top {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		height: 300px;
	}
	.img-1 {
		background-image: url("../../../assets/shared/desktop/bg-pattern-small-circle.svg"),
			url("../../../assets/home/desktop/illustration-passionate.svg");
	}
	.img-2 {
		background-image: url("../../../assets/shared/desktop/bg-pattern-small-circle.svg"),
			url("../../../assets/home/desktop/illustration-resourceful.svg");
	}
	.img-3 {
		background-image: url("../../../assets/shared/desktop/bg-pattern-small-circle.svg"),
			url("../../../assets/home/desktop/illustration-friendly.svg");
	}
}
